.formWrapper {
  padding-top: 107px;
  padding-bottom: 107px;
}

.transferForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 250px;
  padding: 10px 10px;
  border: 1px solid black;
  border-radius: 8px;
  margin: 0 auto;
}

.transferInput {
  width: 208px;
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 8px;
}

.formBtn {
  position: relative;
  padding: 7px 15px;
  width: 240px;
  font-size: 15px;
}

.formBtn:hover {
  background-color: rgb(255, 255, 255);
  border: 1px solid blue;
}
@media screen and (min-width: 480px) {
  .transferForm {
    padding: 20px 20px;
    max-width: 441px;
  }

  .transferInput {
    width: 409px;
  }

  .formBtn {
    font-size: 16px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .formWrapper {
    padding-top: 107px;
    padding-bottom: 146px;
  }

  .transferForm {
    max-width: 527px;
    padding: 42px 42px;
    gap: 15px;
  }

  .transferInput {
    width: 493px;
  }
}
