.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.infoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

@media (max-width: 980px) {
  .headerWrapper {
    justify-content: space-between;
    gap: 20px;
  }

  .infoWrapper {
    flex-direction: row;
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .headerWrapper {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
}
