.walletInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 8px;
  border: 1px solid black;
  background-color: rgb(243, 241, 241);
  padding: 12px 15px;
}

.walletText {
  font-size: 17px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .walletText {
    font-size: 14px;
    font-weight: 600;
  }
}

@media (max-width: 480px) {
  .walletInfo {
    padding: 10px 13px;
  }

  .walletText {
    font-size: 13px;
    font-weight: 600;
  }
}
